<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dramatically Engage Project</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <div class="header">
        <div class="nav">
            <div class="logo">
                <a href=""><i class="fa fa-snowflake-o" aria-hidden="true"></i> Logo </a>
            </div>
            <ul>
                <li class="active"><a href="">Home</a></li>
                <li><a href="">Product</a></li>
                <li><a href="">Serivices</a></li>
                <li><a href="">My Account</a></li>
                <li><a href=""> <i class="fa fa-shopping-cart" aria-hidden="true"> My Cart
                </i></a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <i class="fa fa-braille" aria-hidden="true">  Dramatically Engage</i>
        <p>Objectively innovate empowered manufactured products whereas parallel platforms.</p>
        <button type="button">Engage Now</button>
    </div>
    <hr>
    <div class="main-section">
        <div class="subsection1">
         <h1>Superior Quality</h1>
         <p> Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate installed base portals after maintainable products without collateral.</p>

        </div>
        <div class="subsection2">
            <div class="box1">
                <h2>Unlesh</h2>
            </div>
        <div class="box2">
            <h2>Synergize</h2>
        </div>
        <div class="box3">
            <h2>Procrastinate</h2>
        </div>
        </div>
        <div class="heading">
            <h2>World Class Products</h2>
        </div>
        <div class="subsection3"> 
            <div class="content1">
                <div class="subcontent1">
                    <img src="pepper.jpg" alt="">
                    <div class="text">
                       <h2>Premium Niche</h2> 
                       <h4>Nori grape silver beet broccoli kombu beet greens fava bean potato quandong celery. Bunya nuts black-eyed pea prairie turnip leek lentil turnip greens parsnip.</h4>
                       <p class="price">$10.45</p>
                       
                       <div class="input-group">

                        <div class="form-control">
                            <input type="Number" value="1">
                        </div>
                        <div class="btn">
                            <i class="fa fa-shopping-cart" aria-hidden="true"> My Cart</i>
                        </div> 
                       </div>
                    </div>
                </div>
               
            </div>
            <div class="content1">
                <div class="subcontent1">
                    <img src="jars.jpg" alt="">
                    <div class="text">
                       <h2>Handy Holistic</h2> 
                       <h4>Nori grape silver beet broccoli kombu beet greens fava bean potato quandong celery. Bunya nuts black-eyed pea prairie turnip leek lentil turnip greens parsnip.</h4>
                       <p class="price">$18.99</p>
                       
                       <div class="input-group">

                        <div class="form-control">
                            <input type="Number" value="1">
                        </div>
                        <div class="btn">
                            <i class="fa fa-shopping-cart" aria-hidden="true"> My Cart</i>
                        </div> 
                       </div>
                    </div>
                </div>
               
            </div>
            <div class="content1">
                <div class="subcontent1">
                    <img src="pot.jpg" alt="">
                    <div class="text">
                       <h2>Seamless Strategic</h2> 
                       <h4>Nori grape silver beet broccoli kombu beet greens fava bean potato quandong celery. Bunya nuts black-eyed pea prairie turnip leek lentil turnip greens parsnip.</h4>
                       <p class="price">$11.50</p>
                       
                       <div class="input-group">

                        <div class="form-control">
                            <input type="Number" value="1">
                        </div>
                        <div class="btn">
                            <i class="fa fa-shopping-cart" aria-hidden="true"> My Cart</i>
                        </div> 
                       </div>
                    </div>
                </div>
               
            </div>
            <div class="content1">
                <div class="subcontent1">
                    <img src="teapot.jpg" alt="">
                    <div class="text">
                       <h2>Maintained Strip</h2> 
                       <h4>Nori grape silver beet broccoli kombu beet greens fava bean potato quandong celery. Bunya nuts black-eyed pea prairie turnip leek lentil turnip greens parsnip.</h4>
                       <p class="price">$45.50</p>
                       
                       <div class="input-group">

                        <div class="form-control">
                            <input type="Number" value="1">
                        </div>
                        <div class="btn">
                            <i class="fa fa-shopping-cart" aria-hidden="true"> My Cart</i>
                        </div> 
                       </div>
                    </div>
                </div>
               
            </div>
            
           
        </div>
    </div>
    
    <div class="heading">
        <h2>Unparalleled Service</h2>
        <p>Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate installed base portals after maintainable products without collateral.</p>
    </div>
    <div class="service">
        <img src="service.jpg" alt="#">
    </div>
    <div class="heading">
        <h2>Find US</h2>
        </div>
        <div class="service-map">
            <img src="google-maps-basic-marker.png" alt="#" width="100%" height="250px">
        </div>

</body>
</html>