* {
    box-sizing: border-box;
  }
body { 
	margin:0; 
	padding:0;
}
.container{

    width: 75%; 
    margin: auto;
    background-color:purple;
    border: 2px groove black;
    height: 55%;
    margin-top: 10px;

}
.head{
    text-align: center;
}

.header{
    background-color: seagreen;
    border:2px groove white;
    text-align: center;
    width: 90%;
    height: 120px;
    margin: auto;
}
.nav{
    background-color: white;
    border: 2px groove black;
    height: 40px;
    width: 80%;
    margin: auto;
    margin-bottom:10px;
   
}

.section{
    background-color: tomato;
    border:2px groove white;
    width: 50%;
    height: 550px;
    margin-left: 50px;
    margin-top: 50px;
    text-align: center;
    float: left;
    display:block;
    margin-bottom: 50px;
}
.section1{
    background-color: green;
    border: 2px groove white;
    margin: 10px 10px;
    text-align: center;
 
}
.article{
    background-color: skyblue;
    border: 2px groove white;
    margin: 10px 10px;
    height: 73%;
    margin-bottom: 20px;
}.para{
    background-color: orange;
    border: 2px groove white;
    margin: 10px 10px;
}
.para1{
    background-color: orange;
    border: 2px groove white;
    margin: 10px 10px;
    float: left;
    width: 50%;
    height:70px;
}

.box {
   float: right;
   background-color: white;
   border:2px groove black;
   width: 190px;
   margin-top: 15px;
   margin-right: 10px; 
}
  .footer{
     background-color:white;
     border: 2px groove black;
     text-align: center;
     clear: both; 
     margin: 10px 10px;
     
 }    
  .section2{
    background-color: tomato;
    border:2px groove white;
    width: 38%;
    height: 550px;
    margin-top: 50px;
    text-align: center;
    float: right;
    margin-right: 50px;
    display:block;
}
.section2_header{
    background-color: green;
    border: 2px groove white;
    margin: 10px 10px;
    text-align: center;
    padding: 0;

}
.section2_nav{

    background-color: white;
    border: 2px groove black;
    margin: 10px 10px;
    margin-bottom: 20px;
    height: 73%;
}
.container_footer{
    background-color: white;
    border: 2px groove black;
    clear:both; 
    text-align: center;
    margin: 50px 50px;
    margin-bottom: 10px;
}



