
@import url('https://fonts.googleapis.com/css2?family=Benne&display=swap');
*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: 'Benne', serif
}
.container{
    background-color: #E8E8E8;
    border: 1px groove silver;
    height: 1000px;
    width: 700px;
    margin: auto;
}
.nav{
    background-color:#172630;
    border: 1px groove silver;
    height: 50px;
    width: 600px;
    margin: auto;
    margin-top: 5px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li{
      display: inline;
      margin: 10px;
      margin-top: 10px;
      text-decoration: none;
      
  }
/* nav end */

  .header{
    background-color: #A0BB2E;
    border: 1px solid #A0BB2E;
    height: 200px;
    width: 600px;
    margin: auto;
    margin-top: 5px;
    text-align: center;
  }
/* header end */

.section{
    height: 137px;
    width: 600px;
    margin: auto;
    margin-top: 30px;
    text-align: center;
}
.subsection1{
 background-color: #FFFFFF;
 border: 1px solid #FFFFFF ;
 width: 180px;
 height: 135px;
 float: left;
 border-radius: 5px;

}
.subsection2{
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF ;
    width: 180px;
    height: 135px;
    float: left;
    margin-left: 26px;
    border-radius: 5px;
    
   }
   .subsection3{
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF ;
    width: 180px;
    height: 135px;
   float: right;
   border-radius: 5px;
   }

.content{
    background-color: #FFFFFF;
    /* border: 1px groove rgb(27, 11, 11); */
    height: 300px;
    width: 600px;
    margin: auto;
    margin-top: 10px;
  

}
.subcontent{
    height:70px;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    /* border: 1px solid black; */
}
.sub_header{
    height:160px;
    width: 300px;
    padding-left: 12px;
    /* border: 1px solid black; */
}
.navigation{

    background-color: #FFFFFF;
    /* border: 1px solid rgb(27, 11, 11); */
    height: 250px;
    width:250px;
    margin: auto;
    margin-top: 5px;
    float: right;
    
}

.leftcontent{
    /* border: 1px solid rgb(27, 11, 11); */
    width:53%;
    float: left;
    
    
}
.nav1{
    background-color: #E8E8E8;
    height: 220px;
    width: 220px;
    margin-top: 10px;

}
.gallery{
    background-color: #E8E8E8;
    height: 125px;
    width: 600px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    

}

.subgallery{
    background-color: #E8E8E8;
    height: 100px;
    width: 600px;
    margin: auto;
    margin-top: 10px;

}
.subgallery1{

    background-color:#5EB1CF;
    height: 100px;
    width: 150px;
    margin-left:5px;
    float: left;
}
.subgallery2{

    background-color: #A4BC42;
    height: 100px;
    width: 150px;
    float: left;
  
}
.subgallery3{

    background-color: #EFBE4A;
    height: 100px;
    width: 150px;
    float: left;
}
.subgallery4{

    background-color: #EC5557;
    height: 100px;
    width: 145px;
    float: right;
}