@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@1,500&display=swap');
*{
    margin:0;
    padding:0;
}
body{
    font-family: 'Brygada 1918', serif;
}

.container{
    width: 70%;
    margin: auto;
    height: 1024px;
}
.header{
    background-color: #333333;
    height: 120px;
    margin-bottom: 20px;
}
.nav{
    height: 50px;
    width: 100%;
}

.nav ul{
    height: 30px;
    line-height: 30px;
    list-style: none;
    width: 99%;
   border-bottom: 2px solid white;
   margin-left: 5px;
   
}
.nav ul li{

    float: left;
}
.nav ul li a{

    display: block;
    padding: 0 5px;
    text-decoration: none;
    color: 	#8B8B8B;
    margin-left: 5px;

}
.logo{
    width: 100%;
    height: 65px;
}

.basic{
    float: left;
    width: 200px;
    height: 50px;
    margin-left:10px;
    font-size: 20px;
    color: 	#8B8B8B;
}
.basic1{
    float: right;
    width: 230px;
    height: 50px;
}
input{
    background-color: rgb(36, 35, 35);
    height: 20px;
    border: 1px solid gray;
    padding-left: 5px;
    font-size: 10px;
    margin-top: 13px;
    width: 155px;

}
.basic1 button{
    background-color: orange;
    color: white;
    height: 20px;
    width: 55px;
    border: none;
}
.section{
    height: 251px;
    width: 100%;
}

.section1{
    height: 250px;
    width: 550px;
    float: left;
    margin-left: 10px;
    color: #8B8B8B;
    background-color: #333333;
}
.section1 h1{
    text-align: center;
    margin-top:100px
}
.section2{
    height: 250px;
    width: 295px;
    float: right;
    margin-right: 10px;
    background-color: #333333;

}
.subsection h4{
    color: #8B8B8B;
    font-size: 20px;
    border-bottom: 2px solid #8B8B8B ;
    margin: 10px;
}
.subsection p{
    color: #8B8B8B;
    font-size: 15px;
    margin: 10px;
   
}
.btn button { 
    text-decoration: none;
    border: none;
    float: right;
    display: block;
    color: #FFC57D;
    margin-top: 7px;
    outline-style: none;
    background-color: #333333;
    margin-right: 10px;
}
.content{
    width: 100%;
    height: 155px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content1{
    width: 62%;
    height: 155px;
    float: left;
    margin-left: 10px;
}
.content2{
    width: 33.5%;
    height: 155px;
    float: right;
    margin-right: 10px;
}
.btn1 button { 
    text-decoration: none;
    border: none;
    float: right;
    display: block;
    color: #FFC57D;
    margin-top: 7px;
    outline-style: none;
    background-color: #ffffff;
    margin-right: 10px;
}
strong{
    color: orange;
}
.content1 h3,.content2 h3{
    font-size: 20px;
    margin: 10px;
    color: #8B8B8B;
}
.content1 p,.content2 p{
    font-size: 15px;
    margin: 10px;
    color: #8B8B8B;
}

.main_container1,.main_container2{
    width: 100%;
    height: 184px;

}
.submain_container1,.submain_container2{
    width: 280px;
    height: 185px;
    float: left;
    margin-left: 10px;
}

.submain_container3{   
    
    width: 280px;
    height: 185px;
    float: right;
    margin-right: 10px;
}

.mini_container{
    width: 107px;
    height: 110px;
    border: 1px solid #8B8B8B;
    float: left;
}

.submini_container{
    width: 100px;
    height: 100px;
    margin-left: 3px;
    margin-top: 3px;
    background-color: #333333;
}
.submain_container1 h6,.submain_container2 h6,.submain_container3 h6{
    font-size: 13px;
    color:#8B8B8B;
    margin: 10px;

}
.submini_container1{
    height: 150px;
    float: right;
    width: 156px;
}
.submini_container h5{
    text-align: center;
    color: #8B8B8B;

}
.submini_container1{
    font-size: 12px;
    color:#8B8B8B;
    padding: 4px;
    height: 100px;
    
}
.footer{
    width: 100%;
    height: 50px;
    margin-top: 20px;
    background-color: #232323;
    
}
.copy{ 
    margin-left: 35px;
    font-size: 15px;
    color: #8B8B8B;
    padding: 10px;
    float: left;
}
.copy1{
    font-size: 15px;
    color: #8B8B8B;
    padding: 10px;
    float: right;
    margin-right:35px;
}