<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>slider</title>
    <link rel="stylesheet" href="slider.css">
</head>

<body>
    <div class="container">
        <h1>slider</h1>
            <div class="slider">
                <img src="../templates/images/1.jpeg" alt="1"/>
                <img src="../templates/images/2.jpeg" alt="2"/>
                <img src="../templates/images/3.jpeg" alt="3"/>
                <img src="../templates/images/4.jpeg" alt="4"/>
                <img src="../templates/images/5.jpeg" alt="5"/>
            </div>
    </div>
</body>

</html>