<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template2</title>
    <link rel="stylesheet" href="template2.css">
</head>
<body>
    <div class=" container ">
        <h4>Container</h4>
    <div class="subcontainer1">
      <h4> head1</h4>
    </div>
    <div class="subcontainer2">
        <h4> head2</h4>
    </div>
    <!-- subcontainer 1 or 2 end  -->

    <div class="about_main">
        <h4>About me</h4>
        <P>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Ratione, alias quisquam? Officiis, 
            officia dolor! Quae obcaecati modi ut nesciunt reiciendis.
        </P>
    </div>
   <!-- main end -->

     <div class="sub_main">
         <h4>Bootstrap HTML Template</h4>
   </div>
   <!-- sub_main end -->

   <div class="section">
    <div class="education">
      <h4>Education</h4>
      <p>Lorem ipsum dolor sit amet.</p>
      <p>Lorem ipsum dolor sit amet.</p>
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
    
    <div class="experience">
        <h4>Experience</h4>
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Lorem ipsum dolor sit amet.</p>
  
      </div>

    </div>

    <!-- end of section  -->

    <div class="pricing">
        <h4>pricing</h4>
    </div>

    <div class="footer">
        <h4>Footer</h4>
    </div>
    
    <!-- container end -->
    </div>


</body>
</html>